* {
    // outline: 1px red solid;
    // border-radius: 5px;
    font-family: Garamond;
    margin: 0;
    padding: 0;

    // background-color: black;
    color: white;
}

body {
    background-color: #000111;
    height: 100%;
    margin: 8px;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 8px;
}

.display {
    height: 73vh;
    border: 2px solid #123c69;
}

.cards_container {
    height: 23vh;
    border: 2px solid #123c69;

    display: flex;
}

.player_sheet_mini {
    display: flex;

    .main_info_container {
        background-color: #edc7b7;
        border: 2px solid #123c69;
        border-radius: 8px;

        min-width: 18vw;
        min-height: 18vh;

        margin: 5px;
        padding: 3px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .player_characteristics {
            border: 2px solid #123c69;
            background-color: #708090;
            border-radius: 8px;

            display: flex;
            flex-direction: column;

            .name_and_class {
                display: flex;
                justify-content: space-between;

                .player_name,
                .player_class {
                    margin: 1px 3px;
                }
            }

            .level_and_exp {
                background-color: #778899;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;

                display: flex;
                justify-content: space-between;

                .level,
                .exp {
                    margin: 1px 3px;
                }
            }
        }
    }

    .battle_info {
        border: 2px solid #123c69;
        border-radius: 8px;
        background-color: #708090;

        display: flex;
        flex-direction: column;

        .hp_and_ac {
            border-radius: 8px;
            background-color: #708090;

            display: flex;
            justify-content: space-between;

            .hitpoints,
            .armor_class {
                margin: 1px 3px;
            }
        }

        .initiative_and_inspiration {
            background-color: #778899;

            display: flex;
            justify-content: space-between;

            span {
                margin: 1px 3px;
            }
        }

        .speed {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            background-color: #708090;

            span {
                margin: 1px 3px;
            }
        }
    }
}

.player_sheet_full_container {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    background-color: #000;
    background-color: rgba(0, 0, 0, 0.8);

    display: block;
    flex-direction: column;

    .player_sheet_full {
        width: 98.5vw;
        height: 97.5vh;
        margin: 1vh auto;

        border: 2px solid #123c69;

        display: flex;
        flex-direction: column;

        .main_info {
            display: flex;
            flex-direction: column;

            .name_class_race {
                min-width: 60vw;
                margin-left: auto;

                display: flex;
                justify-content: space-between;

                .name_field,
                .class_field,
                .race_field {
                    min-width: 10vw;

                    display: inline-block;
                }
            }

            .level_exp {
                margin-left: auto;
                min-width: 60vw;

                display: inline-block;
            }
        }

        .info_container {
            display: flex;

            .stats_and_skills_column {
                display: flex;
                flex-direction: row;

                .stats>div {
                    border: 2px solid red;

                    width: 100px;
                    height: 100px;

                    text-align: center;
                }
            }

            .proficiency_bonus {
                display: flex;
                align-items: center;

                span {

                    display: flex;
                    align-items: center;
                }

                .proficiency_field {
                    border: 2px solid red;

                    width: 20px;
                    height: 20px;

                    display: inline-block;
                }
            }
        }
    }
}