* {
    // outline: 1px red solid;
    // border-radius: 5px;
    font-family: Garamond;

    // background-color: black;
    color: white;
}

body {
    background-color: #000111;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 1vh;
}

.display {
    height: 73vh;
    border: 2px solid #123c69;
}

.cards_container {
    height: 23vh;
    border: 2px solid #123c69;
}

.player_sheet_mini {
    display: flex;

    .main_info_container {
        background-color: #edc7b7;
        border: 2px solid #123c69;
        border-radius: 8px;

        min-width: 20vw;
        min-height: 20vh;

        margin: 5px;
        padding: 3px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .player_characteristics {
            display: flex;
            flex-direction: column;

            .name_and_class {
                background-color: #708090;

                display: flex;
                justify-content: space-between;

                .player_name,
                .player_class {
                    margin: 1px 3px;
                }
            }

            .level_and_exp {
                background-color: #778899;

                display: flex;
                justify-content: space-between;

                .level,
                .exp {
                    margin: 1px 3px;
                }
            }
        }
    }

    .battle_info {
        background-color: aquamarine;

        display: flex;
        flex-direction: column;

        .hp_and_ac {
            background-color: #708090;

            display: flex;
            justify-content: space-between;

            .hitpoints,
            .armor_class {
                margin: 1px 3px;
            }
        }

        .initiative_and_inspiration {
            background-color: #778899;

            display: flex;
            justify-content: space-between;

            span {
                margin: 1px 3px;
            }
        }

        .speed {
            background-color: #708090;

            span {
                margin: 1px 3px;
            }
        }
    }
}

.player_sheet_full {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4);

    .main_info_container {}
}