* {
  font-family: Garamond;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-color: #000111;
  height: 100%;
  margin: 8px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 8px;
}

.display {
  height: 73vh;
  border: 2px solid #123c69;
}

.cards_container {
  height: 23vh;
  border: 2px solid #123c69;
  display: flex;
}

.player_sheet_mini {
  display: flex;
}
.player_sheet_mini .main_info_container {
  background-color: #edc7b7;
  border: 2px solid #123c69;
  border-radius: 8px;
  min-width: 18vw;
  min-height: 18vh;
  margin: 5px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.player_sheet_mini .main_info_container .player_characteristics {
  border: 2px solid #123c69;
  background-color: #708090;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.player_sheet_mini .main_info_container .player_characteristics .name_and_class {
  display: flex;
  justify-content: space-between;
}
.player_sheet_mini .main_info_container .player_characteristics .name_and_class .player_name,
.player_sheet_mini .main_info_container .player_characteristics .name_and_class .player_class {
  margin: 1px 3px;
}
.player_sheet_mini .main_info_container .player_characteristics .level_and_exp {
  background-color: #778899;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  justify-content: space-between;
}
.player_sheet_mini .main_info_container .player_characteristics .level_and_exp .level,
.player_sheet_mini .main_info_container .player_characteristics .level_and_exp .exp {
  margin: 1px 3px;
}
.player_sheet_mini .battle_info {
  border: 2px solid #123c69;
  border-radius: 8px;
  background-color: #708090;
  display: flex;
  flex-direction: column;
}
.player_sheet_mini .battle_info .hp_and_ac {
  border-radius: 8px;
  background-color: #708090;
  display: flex;
  justify-content: space-between;
}
.player_sheet_mini .battle_info .hp_and_ac .hitpoints,
.player_sheet_mini .battle_info .hp_and_ac .armor_class {
  margin: 1px 3px;
}
.player_sheet_mini .battle_info .initiative_and_inspiration {
  background-color: #778899;
  display: flex;
  justify-content: space-between;
}
.player_sheet_mini .battle_info .initiative_and_inspiration span {
  margin: 1px 3px;
}
.player_sheet_mini .battle_info .speed {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #708090;
}
.player_sheet_mini .battle_info .speed span {
  margin: 1px 3px;
}

.player_sheet_full_container {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
  flex-direction: column;
}
.player_sheet_full_container .player_sheet_full {
  width: 98.5vw;
  height: 97.5vh;
  margin: 1vh auto;
  border: 2px solid #123c69;
  display: flex;
  flex-direction: column;
}
.player_sheet_full_container .player_sheet_full .main_info {
  display: flex;
  flex-direction: column;
}
.player_sheet_full_container .player_sheet_full .main_info .name_class_race {
  min-width: 60vw;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}
.player_sheet_full_container .player_sheet_full .main_info .name_class_race .name_field,
.player_sheet_full_container .player_sheet_full .main_info .name_class_race .class_field,
.player_sheet_full_container .player_sheet_full .main_info .name_class_race .race_field {
  min-width: 10vw;
  display: inline-block;
}
.player_sheet_full_container .player_sheet_full .main_info .level_exp {
  margin-left: auto;
  min-width: 60vw;
  display: inline-block;
}
.player_sheet_full_container .player_sheet_full .info_container {
  display: flex;
}
.player_sheet_full_container .player_sheet_full .info_container .stats_and_skills_column {
  display: flex;
  flex-direction: column;
}
.player_sheet_full_container .player_sheet_full .info_container .stats_and_skills_column .stats > div {
  border: 2px solid red;
  width: 100px;
  height: 100px;
  text-align: center;
}/*# sourceMappingURL=style.css.map */