$custom_padding: 5px;
$custom_gap_h: 2vh;
$custom_gap_w: 2vw;

* {
    // outline: 1px red solid;
    // border-radius: 5px;
    font-family: Garamond;
    // margin: 0;
    // padding: 0;

    // background-color: black;
    color: white;
}

body {
    background-color: #000111;
    height: 100%;
    // margin: 8px;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 8px;
}

.display {
    height: 73vh;
    border: 2px solid #123c69;
}

.cards_container {
    height: 23vh;
    border: 2px solid #123c69;

    display: flex;
}

.player_sheet_mini {
    display: flex;

    .main_info_container {
        background-color: #edc7b7;
        border: 2px solid #123c69;
        border-radius: 8px;

        min-width: 18vw;
        min-height: 18vh;

        margin: 5px;
        padding: 3px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .player_characteristics {
            border: 2px solid #123c69;
            background-color: #708090;
            border-radius: 8px;

            display: flex;
            flex-direction: column;

            .name_and_class {
                display: flex;
                justify-content: space-between;

                .player_name,
                .player_class {
                    margin: 1px 3px;
                }
            }

            .level_and_exp {
                background-color: #778899;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;

                display: flex;
                justify-content: space-between;

                .level,
                .exp {
                    margin: 1px 3px;
                }
            }
        }
    }

    .battle_info {
        border: 2px solid #123c69;
        border-radius: 8px;
        background-color: #708090;

        display: flex;
        flex-direction: column;

        .hp_and_ac {
            border-radius: 8px;
            background-color: #708090;

            display: flex;
            justify-content: space-between;

            .hitpoints,
            .armor_class {
                margin: 1px 3px;
            }
        }

        .initiative_and_inspiration {
            background-color: #778899;

            display: flex;
            justify-content: space-between;

            span {
                margin: 1px 3px;
            }
        }

        .speed {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            background-color: #708090;

            span {
                margin: 1px 3px;
            }
        }
    }
}

.player_sheet_full_container {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 105vh; // TODO: find a more elegant solution
    overflow: auto;

    background-color: #000;
    background-color: rgba(0, 0, 0, 0.8);

    display: block;

    .player_sheet_full {
        width: 98.5vw;
        height: 97.5vh;
        margin: $custom_gap_h / 2 auto;

        border: 2px solid #123c69;

        display: flex;
        flex-direction: column;

        .sheet_container {
            padding: $custom_padding * 2;

            display: flex;
            flex-direction: column;
            gap: $custom_gap_h;

            .main_info {
                border: 2px solid red;
                padding: $custom_padding;

                display: flex;
                flex-direction: column;
                gap: $custom_gap_h / 2;

                .name_class_race {
                    border: 2px solid red;
                    padding: $custom_padding;

                    min-width: 60vw;
                    margin-left: auto;

                    display: flex;
                    justify-content: space-between;

                    .name_field,
                    .class_field,
                    .race_field {
                        min-width: 10vw;

                        display: inline-block;
                    }
                }

                .level_exp {
                    border: 2px solid red;
                    padding: $custom_padding;

                    margin-left: auto;
                    min-width: 60vw;

                    display: inline-block;
                }
            }

            .info_container {
                // border: 2px solid red;
                display: flex;

                .stats_and_skills {
                    display: flex;
                    gap: $custom_gap_w;

                    .stats_column {
                        border: 2px solid red;
                        padding: $custom_padding;

                        display: flex;
                        flex-direction: column;
                        gap: $custom_gap_h / 2;
                    }

                    .stats_column>div {
                        border: 2px solid red;
                        padding-top: $custom_padding / 3;

                        width: 85px;
                        height: 85px;

                        text-align: center;

                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                    }

                    .stats_column>div>div {
                        border: 2px solid red;

                        width: 40px;
                        height: 20px;

                        text-align: center;
                    }

                    .skills_column {
                        border: 2px solid red;
                        padding: $custom_padding;

                        display: flex;
                        flex-direction: column;
                        gap: $custom_gap_h;

                        .inspiration_container {
                            border: 2px solid red;
                            padding: $custom_padding;

                            .inspiration {
                                display: flex;
                                align-items: center;
                                gap: $custom_gap_w / 2;

                                span {
                                    display: flex;
                                    align-items: center;
                                }

                                .inspiration_field {
                                    border: 2px solid red;

                                    width: 20px;
                                    height: 20px;

                                    display: inline-block;
                                }
                            }
                        }

                        .proficiency_container {
                            border: 2px solid red;
                            padding: $custom_padding;

                            .proficiency_bonus {
                                display: flex;
                                align-items: center;
                                gap: $custom_gap_w / 2;

                                span {
                                    display: flex;
                                    align-items: center;
                                }

                                .proficiency_field {
                                    border: 2px solid red;

                                    width: 20px;
                                    height: 20px;

                                    display: inline-block;
                                }
                            }
                        }

                        .saving_throws {
                            border: 2px solid red;
                            padding: $custom_padding;

                            display: flex;
                            flex-direction: column;
                            gap: $custom_gap_w / 2;

                            div {
                                display: flex;
                                align-items: center;
                                gap: $custom_gap_w / 2;
                            }

                            div>.strength_throw_field,
                            .dexterity_throw_field,
                            .constitution_throw_field,
                            .intelligence_throw_field,
                            .wisdom_throw_field,
                            .charisma_throw_field {
                                border: 2px solid red;

                                width: 20px;
                                height: 20px;

                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }
}